* {
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}

.category-container {
    width: 390px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/**************************************************************************/

.category-header {
    height: 102px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.category-navigation-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 390px;
    height: 58px;
    background-color: #ffffff;
    border: none;
    padding: 0px;
    position: fixed;
    top: auto;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
}

.back-icon-button,
.search-icon-button {
    background: none;
    border: none;
    width: 58px;
    height: 58px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.back-icon-button img,
.search-icon-button img {
    width: 24px; /* 아이콘 버튼의 너비 */
    height: 24px; /* 아이콘 버튼의 높이 */
    margin: 0;
}

.elogo-box {
    width: 120px;
    height: 58px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.elogo-box img {
    width: 98px;
    height: 40px;
    margin: 0;
}

/**************************************************************************/

  .category-body {
    width: 390px;
    height: 651px;
  }
  .sidebar-container {
    width: 390px;
    height: 651px;
    display: flex;
    background-color: #f4f5f7;
  }
  
  .sidebar {
    width: 161px;
    background-color: #f4f5f7;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar li {
    height: 58px;
    padding-left: 20px;
    color: #333;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
  }
  
  .sidebar li.active {
    background-color: #ffffff;
  }
  
  .main-content {
    width: 256px;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
  }
  
  .main-content button {
    width: 48px;
    height: 48px;
    background: none;
    border: none;
    cursor: pointer;
  }
  .main-content h2 {
    height: 58px;
    padding-left: 20px;
    padding-right: 140px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    font-weight:700;
  }

  .main-content ul {
    list-style-type: none;
    padding-left: 20px;
  }
  
  .main-content li {
    padding: 5px 0;
    height: 58px;
    display: flex;
    align-items: center;
  }

/**************************************************************************/

.category-footer {
    height: 90px;
    padding-left: 20px;
    padding-right: 20px;
}

.category-icon-button {
    height: 56px;
    margin: 0;
    display: flex;
    justify-content: space-around
}

.homeIcon, .searchIcon, .listIcon, .myIcon {
    width: 88px;
    border: 0;
    background: none;
    cursor: pointer;
}

.category-icon-button img {
    width: 24px;
    height: 24px;
}

.category-icon-button h1 {
    font-size: 12px;
    font-weight:500;
    text-align: center;
}