.home-my-place-container {
    width: auto;
    height: 80px;
    margin: 20px;
    cursor: pointer;
    background-color: #EAEAEA;
    border-radius: 10px;
}

/*******************************************************************/

.my-home-address {
    height: 40px;
    display: flex;
    border-top-left-radius: 10px ;
    border-top-right-radius: 10px ;
}

.login-myhome-address-info,
.logout-myhome-address-info {
    display: flex;
    align-items: center;
}

.my-home-address img {
    width: 24px;
    height: 24px;
    margin : 10px 10px 10px 10px;
}


/*******************************************************************/

.pickup-shop-address {
    height: 45px;
    background-color: #F5F5F5;
    display: flex;
    border-bottom-left-radius: 10px ;
    border-bottom-right-radius: 10px ;
}

.login-pickup-address-info,
.logout-pickup-address-info {
    display: flex;
    align-items: center;
}

.login-pickup-address-info .home-place-text1,
.logout-pickup-address-info .home-place-text1 {
    background-color: #2e2e2e;
    color: white;
    padding: 8px 10px;
    border-radius: 999px;
    font-size: 12px;
    margin: 6px 6px 6px 10px;
}

.home-place-text {
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
}

.home-place-text2 {
    color:#FFB71B;
}
