* {
    margin: 0px;
    padding: 0px;
}

/*전체스타일-관리하는*/
.ProductCard {
    display: flex;
    flex-direction: row;
    gap: 16px;
    width: 100%;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    overflow-y: scroll;
    scrollbar-width: none;
/*    flex-wrap: wrap; */ /*이 코드 활성화 하면, 세로로 배열이 바뀜.*/
}

.ProductCard::-webkit-scrollbar {
    width: 0;
}

.ProductCard:focus {
    outline: none;
}

/*******************************************************************************************/

/*상품카드-박스*/
.productCard-box {
    width: 48%;
    height: auto;
    margin-bottom: 4%;
    display: flex;
    flex-direction: column;
    padding: 10px;
/*    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid black; */
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
}

/*******************************************************************************************/

/*상품-이미지*/
.productImage-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 8px;
    border: 2px solid #F4F4F5; /* 밝은 회색 테두리 추가 */
    border-radius: 4px; /* 모서리를 살짝 둥글게 만듦 */
}

.productImage-box img {
    max-width: 100%;
    max-height: 200px;
    object-fit: contain;
}

.productInfo-box {
/*    display: flex;
    flex-direction: column; /*오늘픽업,하트,장바구니 높이 정렬관련*/
    margin-top: 10px;
    flex-grow: 1;
    flex-shrink: 1;
}

/*******************************************************************************************/

/*상품정보-이름,가격*/
.productInfo-info {
    padding: 8px 2px;
    flex-grow: 1;
    flex-shrink: 1;
}

.productInfo-name {
    font-size: 14px;
    margin: 10px 0;
    color: #333;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.5;
}

.productInfo-price {
    font-size: 16px;
    font-weight: bold;
    color: #000;
}

/*******************************************************************************************/

/*리뷰-별,평점,전체후기*/
.productInfo-review {
    padding: 8px 0;
    display: flex;
    gap: 4px;
}

.productInfo-review img {
    width: 16px;
    height: 16px;
}

.productInfo-review span {
    font-size: 14px;
}

/*******************************************************************************************/

.productInfo-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*오늘픽업-태그*/
.productInfo-tag {
    border-radius: 4px;
    text-align: center;
    transform-origin: center;
    display: inline-block;
    white-space: nowrap;
}

.today-product-tag {
    background-color: #FFB718;
    color: #142129;
    border-radius: 4px;
    padding: 6px 4px;
    font-size: 14px;
    font-weight: 500;
    min-width: 70px;
    text-align: center;
}

.today-product-tag-placeholder {
    visibility: hidden; /* 빈 공간을 차지하도록 설정 */
    min-width: 70px; /* 실제 아이콘과 같은 최소 너비 설정 */
    height: 26px; /* 실제 아이콘과 같은 높이 설정 */
}

/*하트,장바구니-버튼*/
.productInfo-button button {
    width: 32px;
    height: 32px;
    border: none;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.productInfo-button button img {
    width: 20px;
    height: 20px;
}
