* {
    font-family: 'Spoqa Han Sans Neo', sans-serif; /* 전체 폰트 스타일 */
    box-sizing: border-box; /* 패딩과 보더를 포함한 콘텐츠 크기를 기준으로 하고자 할 때 */
    margin: 0;
    padding: 0;
}

.allproduct-container {
    min-width: 344px;
    max-width: 450px;
    width: 100%;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/*****************************************************************************/
/* 상단 네비게이션 바 */

.allproduct-nav-bar {
    height: 102px;
    padding-top: 44px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
}

.allproduct-nav-bar button {
    width: 58px;
    height: 58px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    cursor: pointer;
}

.allproduct-nav-bar button img {
    width: 24px;
    height: 24px;
}

.allproduct-logo {
    height: 24px;
    display: flex;
}

/*****************************************************************************/
/* 서브 네비게이션 바 */

.allproduct-sub-nav{
    display: flex;
    flex-direction: column;
/*    position: sticky;
    top: 0; /* 스크롤 시 상단에 고정될 위치를 설정 */
/*    z-index: 10; /* 다른 요소들 위에 배치 */
}

/* 카테고리 필터 */
.cc{
    display: flex;
    justify-content: space-between;
    background-color: white;
}


.allproduct-filter-bar {
    padding-left: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.allproduct-filter-button {
    margin: 0 4px;
    padding: 8px 16px;
    font-size: 14px;
    font-weight: 500;
    color: #142129;
    border-radius: 999px;
    border: none; /* 테두리 두께와 색상 설정 */
    background-color: #F4F4F5; /* 배경색 투명으로 설정 */
    cursor: pointer;
}

.allproduct-filter-button.selected {
    border: none;
    background-color: #142129; /* 선택된 버튼의 배경색 */
    color: white; /* 선택된 버튼의 텍스트 색상 */
}

.allproduct-filter-button2 {
    width: 58px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: white;
}

.allproduct-filter-button2 img {
    width: 24px;
    height: 24px;
}

/* 체크박스 / 드롭다운 박스 */
.allproduct-click-bar {
    height: 52px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}

.allproduct-check-box,
.allproduct-dropdown-box {
    display: flex;
    align-items: center;
}

.allproduct-check-box input[type="checkbox"] {
    appearance: none; /* 기본 체크박스 스타일 제거 */
    width: 24px;
    height: 24px;
    border-radius: 8px;
    background-color: #E4E4E7;
    position: relative;
    cursor: pointer;
    outline: none;
}

.allproduct-check-box input[type="checkbox"]:checked {
    background-color: orange; /* 체크 시 배경색 오렌지로 변경 */
    border-color: orange; /* 체크 시 테두리 색 오렌지로 변경 */
}

.allproduct-check-box input[type="checkbox"]:checked::after {
    content: '✔'; /* 체크 표시 */
    color: white; /* 체크 표시 색상 */
    font-size: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* 체크 표시를 정 중앙으로 위치 */
}

.allproduct-check-box label {
    margin: 0;
    padding-left: 8px;
    font-size: 14px;
    font-weight:500;
}

.allproduct-dropdown-box {
    height: 18px;
    border: none;
}

.allproduct-dropdown-box select {
    border: none; /* 테두리 제거 */
    outline: none; /* 포커스 시 나타나는 기본 외곽선 제거 */
    background-color: transparent; /* 배경색을 투명으로 설정 (선택 사항) */
    font-size: 14px; /* 글꼴 크기 설정 */
    cursor: pointer; /* 커서 모양 변경 */
}

/*****************************************************************************/

.aa{
    padding: 20px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #F4F4F5;
}

.allproduct-product-card {
    width: calc(50% - 20px);
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    overflow: hidden;
    background-color: #ffffff;
}

.allproduct-product-card-img{
    width: 160px;
    height: 160px;
    display: flex;
}

.allproduct-product-defaultImage {
    width: 100%;
    height: auto;
}

.allproduct-product-info {
    padding: 10px;
    text-align: center;
}

.allproduct-product-rating {
    font-size: 14px;
    color: #ffc107;
}

.allproduct-product-name {
    font-size: 16px;
    margin: 10px 0;
    color: #333;
}

.allproduct-product-price {
    font-size: 16px;
    font-weight: bold;
    color: #000;
}

.allproduct-product-tag {
    display: inline-block;
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #ffc107;
    color: #fff;
    border-radius: 15px;
    font-size: 12px;
}
