* {
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}

.productDetailComponent-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  min-width: 344px; 
  max-width: 450px;
  width: 100%;
  height: 100%; 
  overflow-y: auto;  
  background-color: #ffffff;   box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
}

/**************************************************************************/
.productDetailComponent-header {
  height: 102px;
  display: flex;
  width:100%;
  padding: 44px 20px 0px 20px;
  box-sizing: border-box;
}

.productDetailComponent-navigation-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

.productDetailComponent-nav-empty-box {
  width: 184px;
  height: 58px;
  margin: 0;
  padding: 0;
}

.productDetailComponent-navigation-bar button {
  cursor: pointer;
  background: none;
  border: none;
  margin: 0;
}

.productDetailComponent-navigation-bar img {
  width: auto;
  height: 24px;
  margin: 0;
}

.productDetailComponent-back-icon-button,
.productDetailComponent-search-icon-button {
  width: 54px;
  height: 58px;
}

.productDetailComponent-home-icon-button {
  width: 44px;
  height: 58px;
}

.productDetailComponent-bag-icon-button {
  width: 54px;
  height: 58px;
}

/**************************************************************************/

.productDetailComponent-product-detail-container {
  margin: 0 20 0 20;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  background-color: white;

  overflow-y: scroll;
}

.productDetailComponent-product-img-container {
  margin:0 auto;
}

.productDetailComponent-product-img {
  width: 390px;
  height: 390px;
  display: flex;
  background-color: #EFF1F3;
}

.productDetailComponent-product-other {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.productDetailComponent-product-review {
  display: flex;
  padding-left: 20px;
}

.productDetailComponent-product-review img {
  width: 18px;
  height: 18px;
}

.productDetailComponent-product-review h2 {
  font-size: 12px;
  font-weight: 500;
  margin: 0px 0px 0px 8px;
}

.productDetailComponent-product-option {
  display: flex;
}

.productDetailComponent-heart-icon-button {
  width: 44px;
  height: 52px;
  padding: 0px 10px 0px 10px;
  background: none;
  border: none;
  cursor: pointer;
}

.productDetailComponent-share-icon-button {
  width: 54px;
  height: 52px;
  padding: 0px 20px 0px 0px;
  background: none;
  border: none;
  cursor: pointer;
}

.productDetailComponent-product-option img {
  width: 24px;
  height: 24px;
  margin: 0;
}

.productDetailComponent-product-title {
  margin-left: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.productDetailComponent-title {
  font-size: 16px;
  font-weight: 700;
  margin: 0;
  padding-bottom: 4px;
}

.productDetailComponent-info-mesg {
  font-size: 12px;
  font-weight: 400;
  color: #687787;
  margin: 0;
}

.productDetailComponent-price-per {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  margin-top: 20px;
  padding-left: 20px;
}

.productDetailComponent-price-item {
  font-size: 24px;
  font-weight: 700;;
}

.productDetailComponent-today-pickup-img {
  width: 62px;
  height: 20px;
  padding-left: 20px;
  margin-top: 8px;
  margin-bottom: 32px;
}

.productDetailComponent-nav-bar {
  display: flex; /* 네비게이션 항목들을 가로로 배치 */
  border-bottom: 2px solid #ccc; /* 하단에 구분선 추가 */
}

.productDetailComponent-nav-item {
  flex: 1; /* 모든 항목을 동일한 너비로 설정 */
  padding: 10px; /* 내부 여백 */
  text-align: center; /* 텍스트를 가운데 정렬 */
  cursor: pointer; /* 마우스를 올렸을 때 포인터 커서로 변경 */
  position: relative; /* 하단 박스를 추가하기 위해 위치 설정 */
}

.productDetailComponent-nav-item:hover {
  background-color: #f0f0f0; /* 항목에 마우스를 올렸을 때 배경색 변경 */
}

.productDetailComponent-nav-item.active::after {
  content: ''; /* 추가할 내용 없음 */
  display: block; /* 블록 요소로 표시 */
  width: 100%; /* 항목의 너비에 맞게 설정 */
  height: 4px; /* 박스의 높이 */
  background-color: black; /* 박스 색상 */
  position: absolute; /* 부모 요소를 기준으로 절대 위치 설정 */
  bottom: -2px; /* 하단에서 2px */
}

.productDetailComponent-content {
  height: 500px;
}

/**************************************************************************/

.productDetailComponent-option-footer {
  padding: 0px 20px 34px 20px;
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  justify-content: flex-end;
  transition: height 0.3s ease;
  background-color: #ffffff;
}

.productDetailComponent-select-more-items,
.productDetailComponent-select-more-items button {
  width: 350px;
  height: 32px;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.productDetailComponent-select-more-items img {
  width: 32px;
  height: 24px;
  margin: 0;
  padding: 0;
}

.productDetailComponent-option-buy-button {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.productDetailComponent-option-buy-button button {
  width: 170px;
  height: 56px;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 500;
}

.productDetailComponent-go-cart {
  margin-right: 10px;
  background-color: #ffffff;
  border: 1.4px solid black;
}

.productDetailComponent-buy-now {
  color: #ffffff;
  background-color: black;
  border: 1.4px solid black;
}

/**************************************************************************/

/* 펼쳐지는 부분의 스타일 추가 */
.productDetailComponent-expanded-section {
  background-color: white;
  z-index: 999;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 수량 조절 버튼 스타일 */
.productDetailComponent-price-control {
  display:flex;
  width: 100%;
  margin-bottom: 20px;
}

.productDetailComponent-quantity-control {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.productDetailComponent-quantity-button {
  width: 40px;
  height: 40px;
  border: 1px solid #ddd;
  background-color: white;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.productDetailComponent-quantity-display {
  width: 40px;
  height: 40px;
  border: 1px solid #ddd;
  background-color: white;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

/* 상품 하나 가격 */
.productDetailComponent-price-per-info {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

.productDetailComponent-total-info {
  display: flex;
  width: 100%;
  margin-bottom: 20px;
  font-size: 16px;
  align-items: center;
  justify-content: space-between;
}

.productDetailComponent-price-per-item {
  font-size: 16px;
  font-weight: 700;
}

.productDetailComponent-total-quantity {
  font-size: 14px;
  font-weight: 500;
}

.productDetailComponent-total-price {
  font-size: 16px;
  font-weight: 700;
}

/**************************************************************************/

.productDetailComponent {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}
